.announcement-bar{
  background-color: #ac2024;
  color: white;
}

.page-heading{
  color: #191d8f;
}

.numbersAlphaTable table, .numbersAlphaTable tr, .numbersAlphaTable td, .numbersAlphaTable th{
  border: 1px solid black;
  padding: 10px 40px;
}